
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-1">
            Welcome to KNSS Library Dashboard
            <div class="form-group text-right m-b-0">
                <small class="font-weight-normal">Today is @DateTime.Now.ToLongDateString()</small>
            </div>
        </h4>
        @*<div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body pt-2 ml-3">
                                <div class="page-item">
                                    <h4 class="m-t-0 header-title" style="padding-top:10px;"><i class="fa fa-stack page-header-icon"></i>&nbsp;&nbsp; List</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
